[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plexapi = "*"
lastfm-py = "*"
python-dotenv = "*"
pytest = "*"
lastpy = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
